<h1>Purchases#list</h1>

<%=  @ItemName %>
<%=  @quantity %>
<%=  @total  %>

<br><br>

<script>
var localstorage = {};
localstorage['ItemName']= <%=  @ItemName %>;
localstorage['quantity']= <%=  @quantity %>;
localstorage['total']= <%= @total %>;

var result_arr = [];
arr.push(localstorage);


//JSON.stringify(localstorage);
// console.log(localstorage)
</script>
