
<!--form id="form-1" method='post'  action='' data-id="search">
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 

<input  type="hidden"  name='item_id' />
Item Name :<input name='ItemName' id='item_name'/>

Quantity :<input name=quantity id='quantity'/>
<input type='submit' id='new_submit'/>
</form-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Purchases</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" style="border: 0px;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">INVENTORY</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            <li><%= link_to('Add Item',:controller =>"item" ,:action =>'new')%></li>
                <li><%= link_to('Item List',:controller =>"item" ,:action =>'display')%></li>
                <li class="active"><%= link_to('New Purchase',:controller =>"purchases" ,:action =>'new')%></li>
                <li><%= link_to('Logout',:controller =>"user" ,:action =>'login')%></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
        <div class="info text-center">
            <h1 class="text-center" style="color: #000;margin-top: 90px;"> Purchase </h1>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-xs-12 col-md-8 text-left" id="form" style="border: 1px solid black;">
                <div class="row">
                    <div class="col-xs-12 col-md-5 text-left" >
                    	<div class="form-group">
                	    	<form id="form-1" method='post'  action='' data-id="search">
							<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
                    			<input required type="hidden"  name='item_id' />
                        		<h4 style="text-align: left;">Item Name :</h4>
								<input  required autocomplete="off" class="form-control" name='ItemName' id='item_name' placeholder="Item Name" />
								<p id="search_result"></p>
                    	</div>
                    </div>   	
                    <div class="col-xs-12 col-md-5 text-left" >
                    	<div class="form-group">
                        	<h4 style="text-align: left;">Quantity :</h4>
                        	<input required autocomplete="off" name=quantity id='quantity' placeholder="0" class="form-control" type="number" />
                     	</div>
                    </div>
                    <div class="col-xs-12 col-md-2 text-left" style="margin-top: 35px;">
                        <button type="Submit" id="new_submit" class="btn btn-default text-center" >Submit</button>
                    </div>
    				</form>                    
                </div>
                <br>
            </div>
        </div>
</div>


<div class="container-fluid">
    <form role="form">
        <br>
        <br>
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-xs-12 col-md-4 text-left" >
                <div class="info text-center">
                    <h3 class="text-center" style="color: #000;margin-top: 20px;">Shopping Cart </h3>
                </div>
                <div class="form-group" style="border: 1px solid black;border-radius: 5px;padding: 20px;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="cart_list">
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-xs-12 col-md-4 text-left">
            <div class="form-group">
                <h4 id="checkout" style="text-align: center;"></h4>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 text-left">
            <br><br><br><br>
            <button type="Submit" id='checkout_submit' class="btn btn-default text-center" style="padding:20px 60px 20px 60px;margin-left: 100px;">Checkout</button>
            <br><br>
        </div>
    </div>
</div>

</body>
</html>


<script type="text/javascript">

function Globals () {
	var self = this; 
		self.cart = JSON.parse(window.localStorage.getItem("cart"));
		if(!self.cart)
			self.cart=[];
	var val;
	var count;
	self.checkout_total =JSON.parse(window.localStorage.getItem("checkout_total"));
	if(!self.checkout_total){
		self.checkout_total=[0];
		count=0;
	}else
	count=self.checkout_total.length;

	

	self.print_cart_list = function () {
		var cart = JSON.parse(window.localStorage.getItem("cart"));
		if (cart){
		$("#cart_list").html("");
		for(i = 0; i < cart.length;i++) {

			$("#cart_list").append("<tr><td>" 
								+ cart[i].name 
								+ "</td><td>" 
								+ cart[i].quantity 
								+ "</td><td>" 
								+ cart[i].total
								+"</td><td>"
								+"<a href='' class='item_delete' id='"+i+"' data-id="+cart[i].item_id+ ">delete</a></td></tr>");
			}
			$('#checkout').html("");
	
			var total_list=JSON.parse(window.localStorage.getItem("checkout_total"));

			if(total_list[self.cart.length-1]!=undefined){
			$('#checkout').append("Checkout Total :"+total_list[self.cart.length-1]);
			}
		}
		
	}

	self.ajax_request = function (id) {
		console.log("in function ajax_request");
		var name = $('#search_result_' + id).attr("data-name");
	  	$("#item_name").val(name);
	 	$("[name='item_id']").val(id);	  	 	
	}

	self.debug = true;
	
	self.search = function () {
		$("[name= 'ItemName']").keyup(function(){
		console.log("Keyup");
		$.ajax({
			url: 'search',
			type: 'POST',
			data: $(this).parent().serialize() 	,
			dataType: 'text',
			success: function(data)
			{
				$('#search_result').html(data);
		   	}
			
		})
		.fail(function(data){
			console.log(data);
			});
		});
	}

 	self.delete_cart_item = function(){
 		$('.item_delete').click(function(e){
 			e.preventDefault();
 			var id=$(this).attr('id');
 			console.log("cart item delete");
			
			var i;
			// var cart = JSON.parse(window.localStorage.getItem("cart"));
			var cart_data=[];
			var count1=0;
			var checkout_total1=[0];			

		 	for(i = 0; i < self.cart.length;i++) {


		 		if(self.cart[i].item_id ==$('#'+id).attr('data-id'))
 				{
 					console.log('deleted');
 					continue;
 				}
 				cart_data.push(self.cart[i]);
 				if(count1==0){
				 	checkout_total1[count1]+=self.cart[i].total;
				}else{
						checkout_total1[count1]=checkout_total1[count1-1]+self.cart[i].total;
				}
 				count1++;
			}
			console.log(cart_data);
			console.log(checkout_total1);
			window.localStorage.setItem('cart', JSON.stringify(cart_data));
			window.localStorage.setItem('checkout_total',JSON.stringify(checkout_total1)); 
		 	location.reload();
		 	//
 	});

 }

	self.form_submission = function () {
		$('form').submit(function(e){
			e.preventDefault();
		    var stock = parseInt($("[name='quantity']").val());
		    var name = $("[name='ItemName']").val();
		    var item_id = $("[name='item_id']").val();
			var stock_present = $('#search_result_'+ item_id).attr("data-stock");
		   	var price = parseInt($('#search_result_'+ item_id).attr("data-price"));
		   	if(parseInt(stock_present) < stock ){
			  	alert("quantity not available");
		   	}
			else{
				var total= price * stock;     	
				item = {
				  			quantity: stock,
				  			item_id:  item_id ,
				  			total: total,
				  			name: name, 
				  		}
				self.cart.push(item);
				console.log(self.cart);
				window.localStorage.setItem('cart', JSON.stringify(self.cart));
				
				if(count==0){
					self.checkout_total[count]+=item['total'];
				}
				else{
				self.checkout_total[count]=self.checkout_total[count-1]+item['total'];
				}
				window.localStorage.setItem('checkout_total', JSON.stringify(self.checkout_total));
				console.log('checkout_total:'+self.checkout_total[count]);
				self.print_cart_list();	
				count++;
			}
			location.reload();
		});

	}

	self.checkout_submission=function(){
		
		$('#checkout_submit').click(function(){
			console.log("checkout pressed");
		
		var total_list=JSON.parse(window.localStorage.getItem("checkout_total"));	
		var cart = JSON.parse(window.localStorage.getItem("cart"));
		var cart_data = [];
		var i;
		if (cart){
		for(i = 0; i < cart.length;i++) {
 				item = {
				  			quantity: cart[i].quantity,
				  			item_id:  cart[i].item_id ,
				  			total: cart[i].total,
				  			name: cart[i].name, 
				  		}
				cart_data.push(item);
			}
		}


		var post_data = {
			utf8: $("[name='utf8']").val(), 
			authenticity_token: $("[name='authenticity_token']").val(),
			cart:JSON.stringify(cart_data),
			total :total_list[cart.length-1]		
			}
			$.ajax({
						url: 'new',
						type: 'POST',
						data: post_data,
						dataType: 'text',
						success: function(data)
						{
							localStorage.clear();
							location.reload();
					   	}
						
					})
					.fail(function(data){
						console.log(data);
						});

		});

	}

	
	return self;	
}

var globals = new Globals();
globals.search();
globals.form_submission();
globals.print_cart_list();
globals.checkout_submission();
globals.delete_cart_item();
</script>